[Unit]
Description=Run vdirsyncer sync periodically

[Timer]
OnBootSec=2min
OnUnitActiveSec=15min
RandomizedDelaySec=30s

[Install]
WantedBy=timers.target

