/* =======================
   Color Palette
   ======================= */
@define-color background #1e1e2e;
/* dark background */
@define-color background-alt #313244;
@define-color text #cdd6f4;
/* light text */
@define-color text-alt #f5e0dc;
/* secondary text */
@define-color border #89b4fa;
@define-color border-alt alpha(#89b4fa, 0.63);
@define-color accent #89b4fa;
@define-color hover #b4befe;

@define-color red #f38ba8;
@define-color yellow #f9e2af;
@define-color green #a6e3a1;

@define-color STRAWBERRY_700 #e53935;
@define-color GRAPE_700 #8e24aa;
@define-color ORANGE_700 #fb8c00;
@define-color LIME_700 #7cb342;
@define-color COCOA_700 #6d4c41;
@define-color SILVER_700 #b0bec5;
@define-color SLATE_700 #546e7a;
@define-color BLUEBERRY_700 #3949ab;
@define-color BANANA_700 #fdd835;

/* Derived accents */
@define-color color1 shade(alpha(@STRAWBERRY_700, 0.7), 1.25);
@define-color color2 shade(alpha(@GRAPE_700, 0.7), 1.25);
@define-color color3 shade(alpha(@ORANGE_700, 0.7), 1.25);
@define-color color4 shade(alpha(@LIME_700, 0.7), 1.25);
@define-color color5 shade(alpha(@COCOA_700, 0.7), 1.25);
@define-color color6 shade(alpha(@SILVER_700, 0.7), 1.25);
@define-color color7 shade(alpha(@SLATE_700, 0.7), 1.25);
@define-color color8 shade(alpha(@BLUEBERRY_700, 0.7), 1.25);
@define-color color9 shade(alpha(@BANANA_700, 0.7), 1.25);


/* =======================
   General
   ======================= */
* {
    margin: 0px;
    padding: 0px;
    font-family: "MesloLGSDZ Nerd Font Mono", "JetBrainsMono Nerd Font", "JetBrainsMono";
    font-weight: bold;
    font-size: 12px;
    min-height: 20px;
    background: transparent;
    /* important: remove bar-wide rectangle */
    border: none;
}

label {
    padding-top: 1px;
    /* aligns icons and text neatly */
}


/* =======================
   Module Pills
   ======================= */
#workspaces button,
#window,
/* #clock, */
#battery,
#pulseaudio,
#backlight,
#network,
#custom-updates,
#custom-number,
#custom-sysinfo,
#bluetooth,
#mpris,
#tray,
/* #custom-weather, */
#custom-mediaplayer,
#custom-bluetooth {
    background: alpha(@background, 0.5);
    border-radius: 12px;
    margin: 4px;
    padding: 4px 8px;
    color: @text;
}

#custom-power,
#custom-notifications,
#idle-inhibitor,
#custom-exit {
    /* background: alpha(@SILVER_700, 0.8);
    border-radius: 12px; */
    margin: 4px;
    padding: 4px 4px;
}


/* =======================
   Workspaces
   ======================= */
#workspaces {
    margin: 0px 4px;
    padding: 0px;
}

#workspaces button {
    color: alpha(@text, 0.3);
}

#workspaces button.active {
    color: @text;
    min-width: 24px;
}

#workspaces button.urgent {
    background-color: @red;
    color: @background;
}


/* =======================
   Tooltip
   ======================= */
tooltip {
    border: 1px solid @border;
    border-radius: 8px;
    background-color: @background;
}

tooltip label {
    color: @text;
}


/* =======================
   Battery
   ======================= */
#battery.charging,
#battery.plugged {
    color: @green;
}

@keyframes blink {
    to {
        color: @red;
    }
}

#battery.critical:not(.charging) {
    color: @text;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}


/* =======================
   Tray
   ======================= */
#tray>.passive {
    -gtk-icon-effect: dim;
}

#tray>.needs-attention {
    -gtk-icon-effect: highlight;
}

#tray menu {
    border-radius: 8px;
    color: @text;
    background-color: @background;
    padding: 4px;
}


/* =======================
   Hover Effects
   ======================= */
#custom-mediaplayer:hover,
#custom-updates:hover,
#custom-number:hover,
#pulseaudio:hover,
#backlight:hover,
#battery:hover,
#network:hover,
#window:hover,
#clock:hover,
#custom-weather:hover,
#custom-sysinfo:hover,
#custom-power:hover,
#idle-inhibitor:hover,
#bluetooth:hover,
#mpris:hover,
#custom-exit:hover,
#custom-bluetooth:hover,
#custom-notifications:hover {
    color: @hover;
}

/* Modules inside the sysinfo drawer */
#custom-sysinfo,
#cpu,
#memory,
#disk,
#temperature {
    margin: 4px;
    padding: 2px 6px;
    min-width: 30px;
    background: alpha(@background, 0.5);
    border-radius: 12px;
}


#custom-sysinfo:hover,
#cpu:hover,
#memory:hover,
#disk:hover,
#temperature:hover {
    color: @hover;
}


/* =======================
   Hide Empty Modules
   ======================= */
#custom-updates.none,
#custom-number.none,
#tray.empty,
#custom-mediaplayer.empty {
    border: 0px;
    background-color: transparent;
    padding: 0px;
    margin: 0px;
}
